CompraVentaCliente/xml-resources/web-service-references/CompraVenta/wsdl/localhost_8080/Practica8_CompraVenta/CompraVenta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://compraventa.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://compraventa.me.org/">

<xs:element name="comprar" type="tns:comprar"/>

<xs:element name="comprarResponse" type="tns:comprarResponse"/>

<xs:element name="pagar" type="tns:pagar"/>

<xs:element name="pagarResponse" type="tns:pagarResponse"/>

<xs:complexType name="comprar">
<xs:sequence>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="precio" type="xs:int"/>
<xs:element name="numero_productos" type="xs:int"/>
<xs:element name="total" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagar">
<xs:sequence>
<xs:element name="numero_tarjeta" type="xs:int"/>
<xs:element name="monto" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="codigo_CVV" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>